.app {
  .tabs {
    position: fixed;
    left: 0;
    right: 0;
    margin-top: 3.5rem;
    margin-bottom: 0;
    li {
      &.is-active {
        font-weight: bold;
        a {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.personal {
  justify-content: center;
  .left {
    display: flex;
    align-items: center;
    .image {
      margin: 0 auto;
      img {
        border-radius: 50%;
      }
    }
  }
}

.random {
  .card {
    transition: transform 0.08s ease-in;
    transform: scale(1);
    &:hover {
      cursor: pointer;
    }
    &:active {
      transition: transform 0.08s ease-in;
      transform: scale(1.0725);
    }
  }
  .action {
    position: fixed;
    bottom: $size-7;
    right: 20px;
    background: $white;
  }
  .button {
    min-width: 160px;
  }
}
