.app {
  min-height: 100vh;
  .hero-head {
    .tabs {
      li {
        &.is-active {
          font-weight: bold;
        }
        a {
          border-bottom-width: 8px;
          .icon {
            margin-left: -$size-4;
          }
        }
      }
    }
    a {
      &.back {
        padding: 8px 8px 8px 0;
        .icon {
          width: $size-1 + $size-5;
          height: $size-1 + $size-5;
        }
      }
    }
  }
}

.personal {
  justify-content: center;
  .left {
    display: flex;
    align-items: center;
    .image {
      margin: 0 auto;
      img {
        border-radius: 50%;
      }
    }
  }
  .contact {
    position: relative;
    .tooltip__wrapper {
      min-height: 60px;
      .icon {
        border: 1px solid transparent;
        box-shadow: $box-shadow;
        border-radius: 50%;
      }
      & + .tooltip__wrapper {
        margin-left: 10px;
      }
    }
  }
}

.code {
  .column {
    .card {
      transition: transform 0.08s ease-in;
      transform: scale(1);
      &:hover {
        cursor: pointer;
      }
      &:active,
      &:focus {
        transition: transform 0.08s ease-in;
        transform: scale(1.0725);
      }
      .tag {
        & + .tag {
          margin-left: 2px;
        }
      }
    }
  }
  .action {
    position: fixed;
    bottom: $size-7;
    background: $white;

    width: 100%;
    left: 0;
    @include desktop {
      left: auto;
    }
    .columns {
      justify-content: flex-end;
      .column {
        flex: none;
      }
    }
  }
  .button {
    min-width: 140px;
    @include desktop {
      min-width: 160px;
    }
    & + .button {
      margin: 0 4px;
    }
  }
}
