.app {
  min-height: 100vh;
  .tabs {
    li {
      &.is-active {
        font-weight: bold;
      }
      a {
        border-bottom-width: 8px;
        .icon {
          margin-left: -$size-4;
        }
      }
    }

    a {
      &.back {
        padding: 8px 8px 8px 0;
      }
    }
  }
}

.personal {
  justify-content: center;
  .left {
    display: flex;
    align-items: center;
    .image {
      margin: 0 auto;
      img {
        border-radius: 50%;
      }
    }
  }
}

.code {
  .column {
    .card {
      transition: transform 0.08s ease-in;
      transform: scale(1);
      &:hover {
        cursor: pointer;
      }
      &:active,
      &:focus {
        transition: transform 0.08s ease-in;
        transform: scale(1.0725);
      }
    }
  }
  .action {
    position: fixed;
    bottom: $size-7;
    right: 20px;
    background: $white;
  }
  .button {
    min-width: 160px;
  }
}
