// Margin and padding helper
$sizes: (0, 5, 10, 15, 20, 25, 30, 50);
$positions: ('top', 'left', 'bottom', 'right');

@each $size in $sizes {
  .m-#{$size} {
    margin: $size + px;
  }
  .p-#{$size} {
    padding: $size + px;
  }
}

@each $size in $sizes {
  @each $position in $positions {
    .m-#{$position}-#{$size} {
      margin-#{$position}: $size + px;
    }
    .p-#{$position}-#{$size} {
      padding-#{$position}: $size + px;
    }
  }
}
